<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searchShowen">{{pageTitle}}</ion-title>
    <search-bar *ngIf="searchShowen" (searchMovies)="onSearch($event)"></search-bar>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search" *ngIf="!searchShowen"></ion-icon>
        <ion-icon name="close" *ngIf="searchShowen"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <filters *ngIf="!searchShowen" (filterGo)="onFilter($event)"></filters>

  <movies-list [movies]="movies">
    
  </movies-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-card *ngIf="thisIsAll">
      <ion-card-content>
        {{thisIsAll}}
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll-content
      *ngIf="!thisIsAll"
      loadingSpinner="crescent"
      loadingText="Снимаем {{pageTitle}}...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>