movie {}
.item ion-thumbnail {
	min-width: 54px;
}
.item ion-thumbnail img {
	width: 54px;
	height: auto;
}
.movie-info {
	display: flex;
	justify-content: space-between;
	margin-top: 10px !important;
	margin-bottom: 0 !important;
}